body, div, span, header, footer, nav, section, aside, article,
ul, dl, dt, dd, li, a, p, h1, h2, h3, h4, h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  &:hover {
    outline: none;
  }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none;
}

textarea {
  -webkit-appearance: none;
}

html, body {
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

.clear {
  zoom: 1;
}

.back_img {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.margin {
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.paddingTop {
  padding-top: 1.95rem;
}

@keyframes backOpacity {
  0% {
    opacity: 1
  }
  25% {
    opacity: .5
  }
  50% {
    opacity: 1
  }
  75% {
    opacity: .5
  }
  100% {
    opacity: 1
  }
}

.animation_opacity {
  animation: backOpacity 2s ease-in-out infinite;
}

.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
  color: #1d4c7b;
}

// 全局btn样式设置
.el-button--medium {
  padding: 10px 20px;
  font-size: 14px;
}

.el-button--text {
  padding: 0;
}

.danger {
  color: #FF6C60;
}

.danger:hover {
  color: #dd6161;
}

.success {
  color: #79cd52;
}

.success:hover {
  color: #5daf34;
}

.warning {
  color: #e6a23c;
}

.warning:hover {
  color: #cf9236;
}


.BMap_cpyCtrl {
  display: none;
}
.BMap_cpyCtrl.BMap_noprint.anchorBL{
  display: none !important;
}
.anchorBL {
  display: none;
}

