.home-page {
  display: block;
  height: 100%;

  div.bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(../../assets/images/home-bg.png) no-repeat 0 0 / 100% 100%;
    filter: grayscale(80%);
  }

  .router-path-container {
    position: absolute;
    right: 10%;
    top: 0;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 600px;
  }

  .demo-chart-0 {
    position: absolute;
    top: 45%;
    left: 35%;
    z-index: 1;
  }

  .app-title {
    position: absolute;
    top: 100px;
    left: 160px;
    background: rgba(0, 0, 0, .4);
    > span {
      background: linear-gradient(0deg, rgba(113, 143, 155, 1) 16.943359375%, rgba(255, 255, 255, 1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    padding: 30px 40px;
    font-size: 60px;
  }
}
