.home-page {
  display: block;
  height: 100%;

  div.bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(../../assets/images/home-bg.png) no-repeat 0 0 / 100% 100%;
    filter: grayscale(80%);
  }

  .router-path-container {
    position: absolute;
    right: 20px;
    top: 0;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 700px;
    z-index: 10;
  }

  .demo-chart-0 {
    position: absolute;
    top: 240px;
    left: 320px;
    z-index: 1;
  }

  .app-title {
    position: absolute;
    top: 10%;
    left: 40px;
    background: rgba(0, 0, 0, .6);

    > span {
      background: linear-gradient(0deg, rgba(113, 143, 155, 1) 16.943359375%, rgba(255, 255, 255, 1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    padding: 20px 30px;
    font-size: 30px;
  }

  .logout {
    display: flex;
    background: rgba(0, 0, 0, .4);
    padding: 6px 10px;
    color: white;
    font-size: 18px;
    position: absolute;
    left: 100px;
    bottom: 50px;
    line-height: 30px;
    cursor: pointer;
    filter: invert(20%);
    i {
      font-size: 28px;
      margin-right: 10px;
    }

    &:hover {
      filter: invert(0);
      i {
        transform: scale(1.2);
      }
    }
  }
}
