@import 'theme/index.css';
@import 'theme/style/index';

.el-menu-vertical-demo.el-menu {
  border-right: solid 1px rgba(0, 0, 0, .6);
}

.form-page1 {
  background: #f6f9f9;
  border-radius: 12px;
  width: 800px;
  padding: 40px 100px 20px 20px;
  //margin: 60px 0 0 40px;
  margin: 100px auto;
  text-align: center;

  .el-form-item {
    margin: 20px auto 40px;
  }
}

.base-section {
  height: 85vh;
  /*background: #1d4c7b;*/
  background: #f2f2f2;
  border-radius: 12px;
  margin: 0 20px;
  overflow-y: auto;
}
.el-aside {
  padding: 20px;
}

.form-page {
  width: 800px;
  padding: 40px;
  margin: 40px ;
  text-align: center;
}
